################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ganesha-marine-website.slnx/FileContentIndex/f239cb5c-2320-4b57-a076-dcc815d1b2f3.vsidx
